<div *ngIf="provider">
  <h3>{{ provider | titlecase }} Credentials</h3>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <label for="apiKey">API Key:</label>
    <input id="apiKey" formControlName="apiKey" required />

    <label for="projectId">Project ID:</label>
    <input id="projectId" formControlName="projectId" required />

    <div *ngIf="provider === 'aws'">
      <label for="awsAccessKey">AWS Access Key:</label>
      <input id="awsAccessKey" formControlName="awsAccessKey" />

      <label for="awsSecretKey">AWS Secret Key:</label>
      <input id="awsSecretKey" formControlName="awsSecretKey" />
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
<div>this is credential page</div>
<div>
  <button
    (click)="goToPrev()"
    class="px-4 py-2 border rounded-md bg-blue-600 text-white"
  >
    Prev
  </button>
</div>
