<div class="container mx-auto p-4 pt-20">
  <h1 class="text-2xl font-semibold mb-4">AWS SNS Credentials</h1>

  <p class="mb-2">
    To create an AWS SNS configuration for web notifications, follow these
    steps:
  </p>
  <ol class="list-decimal ml-6 mb-4">
    <li>
      Go to the
      <a
        href="https://aws.amazon.com/console/"
        class="text-blue-500 underline"
        target="_blank"
        >AWS Management Console</a
      >.
    </li>
    <li>Log in with your AWS account credentials.</li>
    <li>
      Navigate to the IAM (Identity and Access Management) section to create and
      retrieve your Access Key ID and Secret Access Key.
    </li>
    <li>
      Go to the SNS (Simple Notification Service) section and select a region.
    </li>
  </ol>

  <h2 class="text-xl font-medium mb-2">Enter your AWS SNS Credentials:</h2>

  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="accessKeyId" class="block mb-1">Access Key ID</label>
      <input
        type="text"
        id="accessKeyId"
        formControlName="accessKeyId"
        class="border p-2 w-full"
        placeholder="Enter AWS Access Key ID"
      />
    </div>

    <div class="mb-4">
      <label for="secretAccessKey" class="block mb-1">Secret Access Key</label>
      <input
        type="text"
        id="secretAccessKey"
        formControlName="secretAccessKey"
        class="border p-2 w-full"
        placeholder="Enter AWS Secret Access Key"
      />
    </div>

    <div class="mb-4">
      <label for="region" class="block mb-1">Region</label>
      <input
        type="text"
        id="region"
        formControlName="region"
        class="border p-2 w-full"
        placeholder="Enter AWS Region"
      />
    </div>

    <div>
      <button
        (click)="goToPrev()"
        class="px-4 py-2 border rounded-md bg-blue-600 text-white"
      >
        Prev
      </button>

      <button
        type="submit"
        class="px-4 py-2 border rounded-md bg-green-600 text-white"
      >
        Submit
      </button>
    </div>
  </form>
</div>
